@import url(font-awesome.min.css);
@font-face{
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
*{
    margin: 0;
}
h1 , h2 ,h3,h4,h5,h6{
    font-family: helvatica;
}
body{
    font-family: "raleway", helvatica, sans-serif;
    color: #444;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.top-menu h1{
    float: left;
}
.nav{
    text-align: right;
}
ul{
    list-style-type: none;
}
.nav ul li{
    display: inline;
    padding: 0 15px;
}
.nav ul li a{
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.2s ease-in-out;
}
.nav ul li a:hover{
    color: #ffffff;
}
.header{
    background-color: #444;
    background-image: url(../img/dark_tint.png),url(../img/bokeh_car_lights_bg.jpg);
    background-position: center center;
    background-size: cover;
}
.top-menu{
    padding: 40px;
}
.nav  ul li button a{
    color: black;
}
.btn{
    padding: 10px 20px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    text-align: center;
    font-size: 1.5vw;
    color: #ffffff;
    font-family: "raleway";
}
.btn-gray{
    background-color: #ffffff;
    color: #444 !important;
}
.btn-big{
    font-size: 2.3vw!important;
}
.btn-blue{
    background-color: #3cadd4;
    color: #ffffff!important;
}
.btn-dark{
    background-color: #383b43;
    color: #ffffff!important;
}
.banner-content{
text-align: center;
color: #ffffff;
padding: 130px 0;
}
.banner-content h2{
    font-size: 5vw;
    line-height: 130px;
}
.banner-content p{
    font-size: 2.3vw;
    margin-bottom: 50px;
}
.services{
    background-color: #f5f5f5;
    border-bottom: 1px solid rgba(144,144,144,0.25);
    border-top: 1px solid rgba(144,144,144,0.25);
    padding: 100px 0;
    text-align: center;
}
.services-header{
    margin-bottom: 50px;
}
.services-header h2{
    font-size: 42px;
    color: #474747;
    margin-bottom: 12px;
}
.services-header p{
    font-size: 22px;
    color: #858585;
}
.icon:before{
    font-family: FontAwesome;
    font-style: normal;

}
.color-blue{
    background-color: #3cadd4;
    color:#fff
}
.color-green{
    background-color:#add43c ;
    color: #fff;
}
.color-red{
    background-color: #d43c61;
    color: #ffff;
}
.big{
    font-size: 40px;
    padding: 45px 50px;
}
.rounded{
    border-radius: 100%;
}
.box{
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(144,144,144,0.25);
    width: calc( calc(100% / 3) - 82px);
    height: 250px;
    text-align: center;
    padding: 70px 30px;
    margin: 0 12px;
}
.services-content{
    display: flex;
    justify-content: space-around;
}
.box h4{
    color:#858585 ;
    font-size:20px;
    margin: 60px 0 30px 0;
}
.box p{
    line-height: 25px;
}
.services-content{
    width: 85%;
    margin: 0 auto;
}
@media only screen and (max-width: 835px) {
    .box-container{
        display: block;
    }
    .box{ width: 100%;
        padding: 30px 0;
        margin: 10px 0;}
    }
    .about{
        text-align: center;
        padding: 100px 0;
    }
    .about-header h2{
        columns: #474747; 
        font-size: 42px;
        margin-bottom:12px ;
    }
    .about-header p{
        font-size: 22px;
        color: #858585;
    }
    .about-content{
        border-top: 1px solid rgba(144,144,144,0.25);
        border-bottom: 1px solid rgba(144,144,144,0.25);
        margin: 60px auto;
        padding: 30px;
    }
    .about-content>*{
        float: left;
    }
    .about-content:before,
    .about-content:after{
        display: block;
        content: '';
        clear: both;
    }
    .profile{
        width: 25%;
        margin-bottom: 60px;
    }
    .profile img{
        border-radius: 100%;
        float: left;
    }
    .profile h4{
        margin-top: 20px;
    }
    .profile p{
        line-height: 25px;
    }
    .about-footer p{
        line-height: 25px;
        font-size: 15px;
        margin-bottom: 40px;
    }
    .about-footer{
        width: 65%;
        margin: 0 auto;
    }
    .contact{
        background-color: #3cadd4;
        color: #fff;
        padding: 100px;
    }
    .contact-header{
        text-align: center;
        margin-bottom: 80px;
    }
    .contact-header h1{
        font-size: 40px;
        margin-bottom: 20px;
    }
    .contact-header p{
        font-size: 20px;
    }
    .contact-content{
        text-align: center;
    }
    input[type="text"], input[type="email"]{
        background-color: #fff;
        color: #4444;
        border: 0;
        border-radius: 5px;
        padding: 10px 12px;
        width: 25%;
    }
    textarea{
        background-color: #fff;
        color: #4444;
        border: 0; 
        border-radius: 5px;
        height: 200px;
        padding: 15px 25px; 
        width: 50%;
        margin-top: 20px;
    }
    .contact-content button{
        margin-top: 20px;
    }
    ::placeholder{
        color: #858585!important;
        font-size: 15px;
        font-family: "raleway";
    }
    .footer{
        background-color: #383b43;
        padding: 100px 0;
    }
    .copyright li{
        color: #858585;
        display: inline;
        font-size: 15px;
        margin: 0 5px;
    }
    .copyright a{
        color: #858585;
    }